<launch>
  <node name="arm_control" pkg="defense_control" type="arm_controller.py" output="screen" />
  <node name="tergeting" pkg="defense_control" type="targeting.py" output="screen" />

  <node pkg="topic_tools" type="throttle" name="controller_throttle" args="messages /arm_pos 2.0" />

</launch>
