<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <xacro:include filename="$(find zed_wrapper)/urdf/zed_descr.urdf.xacro"/>

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>

  <link name="world"/>

  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>

  <link name="table_link">
    <visual>
      <geometry>
        <mesh filename="package://defense_description/meshes/Table.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://defense_description/meshes/Table.dae" />
      </geometry>
    </collision>
  </link>

  <joint name="table_joint" type="fixed">
    <parent link="world" />
    <child link="table_link" />
  </joint>

  <link name="env_link">
    <visual>
      <geometry>
        <mesh filename="package://defense_description/meshes/Env.dae" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://defense_description/meshes/Env.dae" />
      </geometry>
    </collision>
  </link>

  <joint name="env_joint" type="fixed">
    <parent link="world" />
    <child link="env_link" />
  </joint>

  <joint name="zed_joint" type="fixed">
    <parent link="world" />
    <child link="zed_link" />
    <origin xyz="0.1524 -0.3616 -0.06985" rpy="0 0 0"/>
  </joint>

  <link name="just_the_tip" />
  <joint name="tip_joint" type="fixed">
    <parent link="iiwa_link_ee" />
    <child link="just_the_tip" />
    <origin xyz="-0.04 -0.1 0.02" rpy="0 3.14159 -0.349"/>
  </joint>

  <link name="spray_origin_link" />
  <joint name="spray_origin_joint" type="fixed">
    <parent link="iiwa_link_0" />
    <child link="spray_origin_link" />
    <origin xyz="0 0 0.340" rpy="0 0 0"/>
  </joint>

</robot>
